{
  "env": {
    "browser": false,
    "node": true,
    "mocha": true
  },
  "settings": {
    "ecmascript": 5
  },
  "plugins": [
    "mocha"
  ],
  "globals": {
    "Promise": true
  },
  "rules": {
    "eqeqeq": 1,
    "curly": 2,
    "quotes": 0,
    "strict": 0,
    "camelcase": 0,
    "radix": 1,
    "no-sync": 1,
    "guard-for-in": 2,
    "no-eq-null": 1,

    "complexity": [1, 10],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "block-scoped-var": 2,
    "max-nested-callbacks": [1, 4],

    "valid-jsdoc": 1,
    "no-warning-comments": [1, { "terms": ["todo", "fixme"], "location": "start" }],
    "spaced-line-comment": [1, "always"],
    "max-len": [1, 80, 4],

    "new-parens": 1,
    "new-cap": 0,
    "no-trailing-spaces": 1,
    "no-mixed-spaces-and-tabs": 2,
    "indent": [2, 2, {"indentSwitchCase": true}],
    "space-before-blocks": [1, "always"],
    "space-after-keywords": [1, "always"],
    "space-before-function-parentheses": [2, {"anonymous": "always", "named": "never"}],
    "space-in-parens": [1, "never"],
    "padded-blocks": [1, "never"],
    "comma-style": [1, "last"],
    "wrap-iife": [2, "outside"],
    "no-lonely-if": 1,
    "no-nested-ternary": 1,
    "no-multiple-empty-lines": 1,
    "wrap-regex": 1,
    "default-case": 2,
    "no-else-return": 1,
    "no-floating-decimal": 1,
    "no-multi-str": 0,

    "mocha/no-exclusive-tests": 2
  }
}
