title: "Page"
id: "page"
type: "object"
required: ["title", "content"]
properties:
  title:
    type: "string"
    maxLength: 255
  content:
    type: "string"
  subtitle: {type: "string"}
  permalink: {type: "string"}
  layout: {type: "string"}
